* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html{
  height: 100%;
}

:root {
  --mainColor: linear-gradient(45deg, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  --bottomLineColor: hsl(240, 5%, 91%);
  --mainFontColor: hsl(240, 6%, 50%);
  --questionWithFocus: hsl(14, 88%, 65%);
  --mainFontSize: 0.60rem;
  --mainFontFamily: 'Kumbh Sans', serif; 
}

body{
  display: flex;
  justify-content: center;
  font-size: var(--mainFontSize);
  font-family: var(--mainFontFamily);
  background: var(--mainColor);
  background-attachment: fixed;
}

.painel{
  max-width: 60rem; 
  height: 30rem;
  border-radius: 1.9%;
  background: white;
  margin-top: 4rem; 
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-images{
  position: relative;
  top: 10%;
  right: 6%;

  width: 50%;
  overflow: hidden;
}

#concept-picture-desktop{
  position: relative;
  top: 0.5rem;

  width: 100%;
}

#box-picture{
  position:relative;
  width: 40%;
  top:-13.0rem;
  right: 3rem;
}

#pattern-image-desktop{
  position:absolute;
  left: -550px;
  bottom: -100px;
}

#pattern-image-mobile, #concept-picture-mobile{
  display: none;
}

.infos {
  width: 50%;
  height: 100%;
  padding: 0px 10px;
  margin-top: 1rem;
  margin-right: 2rem;
  
  line-height: 1.5rem;
  word-wrap: break-word;
}

h1{
  font-size: 45px;
  font-weight: 900;
  margin-top: 3rem;
}

ul{
  margin-top: 3rem;
}

li{
  list-style-type: none;
  cursor: pointer;
  margin-top: 1em;
  margin-right: 5em;
  margin-bottom: 2em;
  margin-left: 0;
  padding-bottom: 1em;
  border-bottom: 1px solid var(--bottomLineColor);
}

li  span:hover{
  color: var(--questionWithFocus) !important;
}

li span {
  color: var(--mainFontColor) !important;;
}

li p {
  display: none;
  margin-top: 10px;
  color: var(--mainFontColor);
  font-size: 0.8rem;
  max-width: 95%;
}

h2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem !important;
  font-weight: 300 !important; 
}
.boldFont{
  font-weight: bold;
  color: hsl(240, 6%, 50%);
}
.show {
  display:block;
}

.hidden{
  display:none;
}

@media (max-width:1000px) {

  .painel{
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: auto;
    max-width: 500px;
  }

  .logo-images{
    position: relative;
    top: -3.8rem;
    left: 0.1rem;

    width: 20rem; 
    overflow: visible;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #pattern-image-desktop {
    position: absolute;
    bottom:-3rem;
    left:0;
    
    width: 100%;
  }

  #pattern-image-mobile{
    width: 10%;
    display: block;
  }

  #box-picture{
    position: absolute;
    top: 6rem ;
    left:-2.5rem;
  }

  h1{
    margin-top: 1rem;
    margin-left: 40%;
  }

  .infos{
    width: 95%;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    align-items: space-between;
  }

  h2{
    width: 110%;
    display: flex;
    align-items: space-around;
    flex-direction: row;
  }
  .painel{
    width: 100rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 2rem;
  }

}

@media (max-width:340px){
  #concept-picture-desktop,  #pattern-image-desktop, #box-picture{
    display: none;
  }

  #pattern-image-mobile, #concept-picture-mobile{
    display:block;

    position: relative;
    left: -4%;
  }

  #pattern-image-mobile{
    position: absolute;
    left: 2rem;
    bottom: -1rem;

    width: 80%;
  }
  h1{
    margin-top: -2rem;
    margin-left: 6rem;
  }
  h2{
    width: 120%;
  }
  .question{
    font-size: 0.9rem;
  }
}
